body{
  background-color: brown;
  color: white;
}

h1{
  color: white;
}

h2{
  color: white;
}

h3{
  color: white;
}

a{
  color: #59A4FF;
}
a:hover {
  color: #0400FF;
  font-style:oblique ;
}

.menu1{
  font-size: 20;
  font-family: sans-serif;
}

div.box{
  width:auto;
  color: black;
  align: center;
  border-color : rgb(173,224,255) ;
  background-color:rgb(255,255,255) ;
  padding: 2ex 4ex 2ex 4ex;
  position: center;
  margin-top: 1ex ;
  margin-bottom: 1ex ;
  -moz-border-radius: 10px ;
  border-radius: 5px ;
}

.box h3{
  color: black;
}
.edu {
  font-family: monospace;
}
.footer{
}
