body{
  background-color: brown;
  color: white;
  width: 90%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 12pt;
}

h1{
  color: white;
}

h2{
  color: white;
}

h3{
  color: white;
}

.menu {
  width: 100%;
  margin: 5px auto;
  padding: 2px;
}

.btn{
  background-color: #59A4FF;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  margin: 2px;
  display: inline-block;
}

.btn:hover{
  background-color: #44449b; /* Dark Slate Blue */
  color: white;
}


a{
  color: #59A4FF;
}
a:hover {
  color: #0400FF;
  font-style:oblique ;
}

.menu1{
  font-size: 16;
  font-family: sans-serif;
}

div.box{
  width:auto;
  color: black;
  align: center;
  border-color : rgb(173,224,255) ;
  background-color:rgb(255,255,255) ;
  padding: 2ex 4ex 2ex 4ex;
  position: center;
  margin-top: 1ex ;
  margin-bottom: 1ex ;
  -moz-border-radius: 10px ;
  border-radius: 5px ;
}
.home-btn{
  background-color: #59A4FF;
  color: white;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
}

.home-btn:hover{
  background-color: #44449b; /* Dark Slate Blue */
}

.box h3{
  color: black;
}
.edu {
  font-family: monospace;
}
.footer{
}
